# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Empacotamento / instaladores
*.msi
*.exe
*.dmg
*.deb
*.rpm